[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2" = "*"
marshmallow = "*"
"psycopg2-binary" = "*"
pyjwt = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
